* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
}

/* Heading styling */
.heading {
    font-family: 'Avengeance';
    src: url('Avengeance-YolO.ttf');
    font-size: 4rem;
    text-shadow: red 2px 1px 0;
    margin: 0;
}

/* Bank styling */
.bank-heading {
    text-align: center;
    font-family: 'Avengeance';
    src: url('Avengeance-YolO.ttf');
    font-size: 3.5rem;
    color: white;
    text-shadow: black 2px 1px 0;
}

.board-bank-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1rem solid brown;
}

.player-one-bank, .player-two-bank {
    width: 30rem;
    height: 56rem;
}

.player-one-bank {
    background-color: red;
}

.player-two-bank {
    background-color: blue;
}

/* Board styling */
.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.square {
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square:hover {
    cursor: pointer;
    transform: scale(1.15);
    border: .3rem solid gold;
}

.light {
    background-color: beige;
    color: black;
}

.dark {
    background-color: maroon;
    color: white;
}

/* Button Styling */
button {
    width: 10rem;
    height: 5rem;
    border-radius: 3rem;
    border: none;
    background-color: white;
    font-size: 1.6rem;
    font-weight: bold;
    color: black;
    transition: .7s ease;
}

button:hover {
    cursor: pointer;
    background-color: black;
    border: 2px solid red;
    color: red;
    box-shadow: 0 0 30px red;
    transition: .7s ease;
    animation: tilt-shaking 0.15s infinite;
}

#movePotential {
    border: 4px solid gold;
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}