* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
}

/* Heading styling */
.heading {
    font-family: 'Avengeance';
    src: url('Avengeance-YolO.ttf');
    font-size: 4rem;
    text-shadow: red 2px 1px 0;
    margin: 0;
}

/* Bank styling */
.bank-heading {
    text-align: center;
    font-family: 'Avengeance';
    src: url('Avengeance-YolO.ttf');
    font-size: 3.5rem;
    color: white;
    text-shadow: black 2px 1px 0;
}

.board-bank-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1rem solid brown;
}

.player-one-bank, .player-two-bank {
    width: 30rem;
    height: 56rem;
    background-color: red;
}

/* Board styling */
.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.square {
    width: 7rem;
    height: 7rem;
}

.square:hover {
    cursor: pointer;
    transform: scale(1.15);
    border: .3rem solid gold;
}

.light {
    background-color: white;
    color: black;
}

.dark {
    background-color: black;
    color: white;
}